# Configurações Globais

In [12]:
import pandas as pd
import duckdb
from sklearn.preprocessing import MinMaxScaler

files_to_analyze = [
    'data/receipts-000000000000.csv',
    'data/items-000000000000.csv',
    'data/payments-000000000000.csv',
    'data/discounts-000000000000.csv',
    'data/torque.csv'
]

# Análise Exploratória de Dados

In [14]:
try:
    con = duckdb.connect(database=':memory:', read_only=False)
    print("Conexão com DuckDB ok!")

    for file_name in files_to_analyze:
        print(f"\n\n{'='*20} Análise do Arquivo: {file_name} {'='*20}")

        if 'items-000000000000.csv' in file_name:
            read_command = f"read_csv_auto('{file_name}', quote='\"')"
        else:
            read_command = f"read_csv_auto('{file_name}')"

        try:
            print("\n[1] Head dos Dados:")
            print(con.execute(f"SELECT * FROM {read_command} LIMIT 3;").fetchdf())

            print("\n[2] Estrutura da Tabela:")
            df_info = con.execute(f"DESCRIBE SELECT * FROM {read_command};").fetchdf()
            print(df_info)

            print("\n[3] Quantidade de Valores Nulos por Coluna:")
            null_counts_sql = [f'COUNT(*) - COUNT("{col}") AS "{col}_nulls"' for col in df_info['column_name']]
            query_nulls = f"SELECT {', '.join(null_counts_sql)} FROM {read_command};"
            print(con.execute(query_nulls).fetchdf())

        except Exception as e:
            print(f"Erro ao processar o arquivo {file_name}: {e}")
            continue

    print("\n[4a] Quantidade de Recibos por Loja:")
    query_receipts_count = """
        SELECT
            shop_id,
            COUNT(identifier) as total_recibos
        FROM read_csv_auto('data/receipts-000000000000.csv')
        GROUP BY shop_id
        ORDER BY total_recibos DESC;
    """
    print(con.execute(query_receipts_count).fetchdf())

except Exception as e:
    print(f"Erro geral na célula de Análise Exploratória: {e}")

Conexão com DuckDB ok!


==================== Análise do Arquivo: data/receipts-000000000000.csv ====================

[1] Head dos Dados:
                             identifier             shop_id  \
0  576f1b6e-e971-11ee-9aa3-0242ac1c000c  highway-praca-ekin
1  576f0ba6-e971-11ee-9aa3-0242ac1c000c  highway-praca-ekin
2  576ed2e4-e971-11ee-9aa3-0242ac1c000c  highway-praca-ekin

            timestamp  receipt_number  total_value  delivery  canceled  staff  \
0 2024-01-01 22:05:11               8         37.5     False     False  False
1 2024-01-01 23:35:35              13         49.5     False     False  False
2 2024-01-01 21:43:00               6         23.0     False     False  False

  operation_date  pdv  fee  change           date_time  totem
0     2024-01-01    1    0     0.0 2024-01-01 19:05:11  False
1     2024-01-01    1    0     0.0 2024-01-01 20:35:35  False
2     2024-01-01    1    0     0.0 2024-01-01 18:43:00  False

[2] Estrutura da Tabela:
       column_name column_type null   key default extra
0       identifier     VARCHAR  YES  None    None  None
1          shop_id     VARCHAR  YES  None    None  None
2        timestamp   TIMESTAMP  YES  None    None  None
3   receipt_number      BIGINT  YES  None    None  None
4      total_value      DOUBLE  YES  None    None  None
5         delivery     BOOLEAN  YES  None    None  None
6         canceled     BOOLEAN  YES  None    None  None
7            staff     BOOLEAN  YES  None    None  None
8   operation_date        DATE  YES  None    None  None
9              pdv      BIGINT  YES  None    None  None
10             fee      BIGINT  YES  None    None  None
11          change      DOUBLE  YES  None    None  None
12       date_time   TIMESTAMP  YES  None    None  None
13           totem     BOOLEAN  YES  None    None  None

[3] Quantidade de Valores Nulos por Coluna:
   identifier_nulls  shop_id_nulls  timestamp_nulls  receipt_number_nulls  \
0                 0              0                0                     0

   total_value_nulls  delivery_nulls  canceled_nulls  staff_nulls  \
0                  0               0               0            0

   operation_date_nulls  pdv_nulls  fee_nulls  change_nulls  date_time_nulls  \
0                     0          0          0             0                0

   totem_nulls
0            0


==================== Análise do Arquivo: data/items-000000000000.csv ====================

[1] Head dos Dados:
                             identifier                   name  quantity  \
0  5658dfcc-5d78-4360-9568-74be2b85f91f             cafe longo         1
1  0bb6e336-3366-4012-89cf-cc8c5fc5cf10     db churrasco 15 cm         1
2  dd68f5fc-ad60-43f3-a946-f63a29ef1bc4  30 cm frango teriyaki         1

   value  total_value  canceled                 fk_receipt_identifier  \
0    0.0          0.0      True  a7d04cc4-ea2d-11ee-8390-0242ac1c000c
1    6.5          6.5     False  a7d01f42-ea2d-11ee-8390-0242ac1c000c
2   42.0         42.0     False  a7d05d18-ea2d-11ee-8390-0242ac1c000c

            date_time operation_date
0 2024-02-23 16:02:24     2024-02-23
1 2024-02-23 19:49:53     2024-02-23
2 2024-02-23 15:04:06     2024-02-23

[2] Estrutura da Tabela:
             column_name column_type null   key default extra
0             identifier     VARCHAR  YES  None    None  None
1                   name     VARCHAR  YES  None    None  None
2               quantity      BIGINT  YES  None    None  None
3                  value      DOUBLE  YES  None    None  None
4            total_value      DOUBLE  YES  None    None  None
5               canceled     BOOLEAN  YES  None    None  None
6  fk_receipt_identifier     VARCHAR  YES  None    None  None
7              date_time   TIMESTAMP  YES  None    None  None
8         operation_date        DATE  YES  None    None  None

[3] Quantidade de Valores Nulos por Coluna:
   identifier_nulls  name_nulls  quantity_nulls  value_nulls  \
0                 0           0               0            0

   total_value_nulls  canceled_nulls  fk_receipt_identifier_nulls  \
0                  0               0                            0

   date_time_nulls  operation_date_nulls
0                0                     0


==================== Análise do Arquivo: data/payments-000000000000.csv ====================

[1] Head dos Dados:
                             identifier    method  value  \
0  3cbef2b4-8d14-4ddb-b3a3-ebb2a6824064  DINHEIRO  160.0
1  f7afa29b-0748-454f-bf78-39a9cbed7642  DINHEIRO   50.0
2  9d698ae4-7dfc-4cfd-a396-5f7b4bf99157  DINHEIRO   50.0

                  fk_receipt_identifier           date_time operation_date
0  a7d00bce-ea2d-11ee-8390-0242ac1c000c 2024-02-23 20:50:45     2024-02-23
1  a7d00d18-ea2d-11ee-8390-0242ac1c000c 2024-02-23 20:47:03     2024-02-23
2  a7d06862-ea2d-11ee-8390-0242ac1c000c 2024-02-23 13:34:19     2024-02-23

[2] Estrutura da Tabela:
             column_name column_type null   key default extra
0             identifier     VARCHAR  YES  None    None  None
1                 method     VARCHAR  YES  None    None  None
2                  value      DOUBLE  YES  None    None  None
3  fk_receipt_identifier     VARCHAR  YES  None    None  None
4              date_time   TIMESTAMP  YES  None    None  None
5         operation_date        DATE  YES  None    None  None

[3] Quantidade de Valores Nulos por Coluna:
   identifier_nulls  method_nulls  value_nulls  fk_receipt_identifier_nulls  \
0                 0             0            0                            0

   date_time_nulls  operation_date_nulls
0                0                     0


==================== Análise do Arquivo: data/discounts-000000000000.csv ====================

[1] Head dos Dados:
                             identifier                           name  total  \
0  d316cb13-63be-4952-a8ae-fb050bccb606  combo com cookie por 12 reais    2.0
1  26516995-3baf-415f-b350-5a707b8e604d  combo com cookie por 12 reais    2.0
2  14aa04d2-bf67-4d53-b027-684f982b3a00   combo com chips por 12 reais    3.0

   canceled  quantity                 fk_receipt_identifier  \
0     False         1  a7d08504-ea2d-11ee-8390-0242ac1c000c
1     False         1  a7cff80a-ea2d-11ee-8390-0242ac1c000c
2     False         1  a7d07a78-ea2d-11ee-8390-0242ac1c000c

            date_time operation_date
0 2024-02-23 12:01:01     2024-02-23
1 2024-02-23 22:00:21     2024-02-23
2 2024-02-23 12:51:12     2024-02-23

[2] Estrutura da Tabela:
             column_name column_type null   key default extra
0             identifier     VARCHAR  YES  None    None  None
1                   name     VARCHAR  YES  None    None  None
2                  total      DOUBLE  YES  None    None  None
3               canceled     BOOLEAN  YES  None    None  None
4               quantity      BIGINT  YES  None    None  None
5  fk_receipt_identifier     VARCHAR  YES  None    None  None
6              date_time   TIMESTAMP  YES  None    None  None
7         operation_date        DATE  YES  None    None  None

[3] Quantidade de Valores Nulos por Coluna:
   identifier_nulls  name_nulls  total_nulls  canceled_nulls  quantity_nulls  \
0                 0           0            0               0            2252

   fk_receipt_identifier_nulls  date_time_nulls  operation_date_nulls
0                            0                0                     0


==================== Análise do Arquivo: data/torque.csv ====================

[1] Head dos Dados:
                        shop_id operation_date  net_torque  \
0            highway-praca-ekin     2024-01-01   46.261290
1  highway-avenida-nova-balanca     2024-01-02   50.850467
2            highway-praca-ekin     2024-01-02   46.874242

   net_torque_delivery  net_torque_in_store
0            56.896296            38.057143
1            47.333333            51.294737
2            51.566667            46.650794

[2] Estrutura da Tabela:
           column_name column_type null   key default extra
0              shop_id     VARCHAR  YES  None    None  None
1       operation_date        DATE  YES  None    None  None
2           net_torque      DOUBLE  YES  None    None  None
3  net_torque_delivery      DOUBLE  YES  None    None  None
4  net_torque_in_store      DOUBLE  YES  None    None  None

[3] Quantidade de Valores Nulos por Coluna:
   shop_id_nulls  operation_date_nulls  net_torque_nulls  \
0              0                     0                 0

   net_torque_delivery_nulls  net_torque_in_store_nulls
0                        961                          0

[4a] Quantidade de Recibos por Loja:
                        shop_id  total_recibos
0     highway-rua-bens-perdidos          44273
1       highway-adidas-shopping          39532
2            highway-praca-ekin          36243
3  highway-avenida-nova-balanca          35595

# Transformação dos Dados e Construção do ISF (Índice de Saúde Financeira)

In [15]:
con = duckdb.connect(database=':memory:', read_only=False)

try:
    # Agrega as métricas principais por dia e por loja
    daily_metrics_query = f"""
    WITH receipts_daily AS (
        -- Agrega a receita líquida e a contagem de transações por dia
        SELECT
            shop_id,
            operation_date,
            SUM(total_value + fee) AS net_revenue,
            COUNT(identifier) AS transaction_count
        FROM read_csv_auto('data/receipts-000000000000.csv')
        WHERE canceled = false
        GROUP BY shop_id, operation_date
    ),
    discounts_daily AS (
        -- Agrega os descontos com a tabela de receita para obter shop_id e operation_date
        SELECT
            r.shop_id,
            r.operation_date,
            SUM(d.total) AS total_discount
        FROM read_csv_auto('data/discounts-000000000000.csv', quote='\"') AS d
        JOIN read_csv_auto('data/receipts-000000000000.csv') AS r ON d.fk_receipt_identifier = r.identifier
        WHERE d.canceled = false AND r.canceled = false
        GROUP BY r.shop_id, r.operation_date
    )
    -- Junta todas as métricas diárias
    SELECT
        rd.shop_id,
        rd.operation_date,
        rd.net_revenue,
        rd.transaction_count,
        COALESCE(dd.total_discount, 0) AS total_discount, -- Se não tiver desconto no dia, o valor é 0
        t.net_torque
    FROM receipts_daily AS rd
    LEFT JOIN discounts_daily AS dd ON rd.shop_id = dd.shop_id AND rd.operation_date = dd.operation_date
    JOIN read_csv_auto('data/torque.csv') AS t ON rd.shop_id = t.shop_id AND rd.operation_date = t.operation_date
    ORDER BY rd.shop_id, rd.operation_date;
    """
    df_daily_health = con.execute(daily_metrics_query).fetchdf()

    # Calcular o percentual de desconto diário
    df_daily_health['discount_perc'] = (df_daily_health['total_discount'] / (df_daily_health['net_revenue'] + 1)) * 100 # o "+ 1" é pra não ter divisão por zero, se a receita seja 0 em algum dia

    # Normaliza as métricas usando MinMaxScaler
    scaler = MinMaxScaler()
    metrics_to_normalize = ['net_revenue', 'net_torque', 'discount_perc']

    metrics_normalized = df_daily_health[metrics_to_normalize].copy()
    metrics_normalized.loc[:, metrics_to_normalize] = scaler.fit_transform(metrics_normalized[metrics_to_normalize])

    metrics_normalized.loc[:, 'discount_perc'] = 1 - metrics_normalized['discount_perc'] # Inverte o percentual de desconto

    # Pesos de cada métrica
    weights = {'net_revenue': 0.45, 'net_torque': 0.35, 'discount_perc': 0.20}

    # Cálcula o ISF e adiciona no DF
    df_daily_health['isf'] = (
        metrics_normalized['net_revenue'] * weights['net_revenue'] +
        metrics_normalized['net_torque'] * weights['net_torque'] +
        metrics_normalized['discount_perc'] * weights['discount_perc']
    ) * 100

    # DF final para exportar
    df_looker_export = df_daily_health[[
        'operation_date',
        'shop_id',
        'isf',
        'net_revenue',
        'net_torque',
        'discount_perc'
    ]].copy()

    # Garante que a data está no formato correto
    df_looker_export['operation_date'] = pd.to_datetime(df_looker_export['operation_date']).dt.date

    print("\nPré-visualização dos dados a serem exportados:")
    print(df_looker_export.head())

except Exception as e:
    print(f"Erro: {e}")
finally:
    con.close()

Pré-visualização dos dados a serem exportados:
  operation_date                  shop_id        isf  net_revenue  net_torque  \
0     2024-02-23  highway-adidas-shopping  54.047074      5877.50   52.013274
1     2024-02-24  highway-adidas-shopping  56.243288      6026.50   52.864035
2     2024-02-25  highway-adidas-shopping  51.351134      5083.04   51.604467
3     2024-02-27  highway-adidas-shopping  46.621581      3389.00   50.582090
4     2024-02-28  highway-adidas-shopping  46.300752      3736.50   48.843137

   discount_perc
0       1.760653
1       0.738283
2       1.662064
3       0.471976
4       0.735786

# Ranking

In [16]:
df_looker_export['operation_date'] = pd.to_datetime(df_looker_export['operation_date'])

# Filtra os dados para apenas o mês de Junho de 2025
df_junho_2025 = df_looker_export[(df_looker_export['operation_date'].dt.month == 6) & (df_looker_export['operation_date'].dt.year == 2025)].copy()

if df_junho_2025.empty:
    print("\nNão foram encontrados dados para o mês de Junho de 2025.")
    print("Por favor, verifique o intervalo de datas dos seus arquivos de dados.")
else:
    # Agrupar por loja e calcular a média do ISF e de outras métricas para o mês
    ranking_junho = df_junho_2025.groupby('shop_id').agg(
        isf_medio=('isf', 'mean'),
        receita_total_mes=('net_revenue', 'sum'),
        torque_medio=('net_torque', 'mean'),
        desconto_perc_medio=('discount_perc', 'mean')
    ).reset_index()

    # Ordenar o ranking pelo ISF médio, do maior para o menor
    ranking_junho_final = ranking_junho.sort_values(by='isf_medio', ascending=False).reset_index(drop=True)

    print(f"\n{'='*20} Ranking de Saúde Financeira (ISF Médio) - Junho/2025 {'='*20}")
    print(ranking_junho_final)

==================== Ranking de Saúde Financeira (ISF Médio) - Junho/2025 ====================
                        shop_id  isf_medio  receita_total_mes  torque_medio  \
0  highway-avenida-nova-balanca  56.921065          103113.67     68.858865
1       highway-adidas-shopping  55.216086          127783.70     61.064379
2     highway-rua-bens-perdidos  54.584016          100043.93     65.876105
3            highway-praca-ekin  50.299590           76473.06     60.255156

   desconto_perc_medio
0             2.009104
1             1.362024
2             2.068642
3             1.842762

In [17]:
df_looker_export['operation_date'] = pd.to_datetime(df_looker_export['operation_date'])

# Filtra os dados para apenas o ano de 2025
df_2025 = df_looker_export[(df_looker_export['operation_date'].dt.year == 2025)].copy()

if df_2025.empty:
    print("\nNão foram encontrados dados para o ano de 2025.")
    print("Por favor, verifique o intervalo de datas dos seus arquivos de dados.")
else:
    # Agrupar por loja e calcular a média do ISF e de outras métricas para o mês
    ranking_2025 = df_2025.groupby('shop_id').agg(
        isf_medio=('isf', 'mean'),
        receita_total_mes=('net_revenue', 'sum'),
        torque_medio=('net_torque', 'mean'),
        desconto_perc_medio=('discount_perc', 'mean')
    ).reset_index()

    # Ordenar o ranking pelo ISF médio, do maior para o menor
    ranking_2025_final = ranking_2025.sort_values(by='isf_medio', ascending=False).reset_index(drop=True)

    print(f"\n{'='*20} Ranking de Saúde Financeira (ISF Médio) - 2025 {'='*20}")
    print(ranking_2025_final)

==================== Ranking de Saúde Financeira (ISF Médio) - 2025 ====================
                        shop_id  isf_medio  receita_total_mes  torque_medio  \
0       highway-adidas-shopping  54.755490          733218.32     60.993903
1     highway-rua-bens-perdidos  52.762191          597368.16     62.707770
2  highway-avenida-nova-balanca  52.287645          459278.54     65.319818
3            highway-praca-ekin  48.965403          535562.81     58.446373

   desconto_perc_medio
0             1.203669
1             2.024049
2             1.647298
3             1.935428

# Exportação para o Looker

In [18]:
output_filename = 'daily_financial_health.csv'
df_looker_export.to_csv(output_filename, index=False)